@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9798 0.0045 78.2983);
  --foreground: oklch(0.2003 0.0105 268.1595);
  --card: oklch(0.9907 0.0054 95.0978);
  --card-foreground: oklch(0.2003 0.0105 268.1595);
  --popover: oklch(0.9907 0.0054 95.0978);
  --popover-foreground: oklch(0.2003 0.0105 268.1595);
  --primary: oklch(0.5521 0.1255 63.4245);
  --primary-foreground: oklch(0.9798 0.0045 78.2983);
  --secondary: oklch(0.9405 0.0099 87.4726);
  --secondary-foreground: oklch(0.2003 0.0105 268.1595);
  --muted: oklch(0.9405 0.0099 87.4726);
  --muted-foreground: oklch(0.5002 0.0147 271.1129);
  --accent: oklch(0.5001 0.1207 279.9685);
  --accent-foreground: oklch(0.9798 0.0045 78.2983);
  --destructive: oklch(0.5505 0.1800 25.0223);
  --destructive-foreground: oklch(0.9798 0.0045 78.2983);
  --border: oklch(0.9010 0.0100 87.4752);
  --input: oklch(0.9010 0.0100 87.4752);
  --ring: oklch(0.5521 0.1255 63.4245);
  --chart-1: oklch(0.5521 0.1255 63.4245);
  --chart-2: oklch(0.5001 0.1207 279.9685);
  --chart-3: oklch(0.6222 0.1059 202.9873);
  --chart-4: oklch(0.6494 0.1302 140.1071);
  --chart-5: oklch(0.5993 0.1395 339.9244);
  --sidebar: oklch(0.9591 0.0074 80.7210);
  --sidebar-foreground: oklch(0.2003 0.0105 268.1595);
  --sidebar-primary: oklch(0.5521 0.1255 63.4245);
  --sidebar-primary-foreground: oklch(0.9798 0.0045 78.2983);
  --sidebar-accent: oklch(0.9405 0.0099 87.4726);
  --sidebar-accent-foreground: oklch(0.2003 0.0105 268.1595);
  --sidebar-border: oklch(0.9010 0.0100 87.4752);
  --sidebar-ring: oklch(0.5521 0.1255 63.4245);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1492 0.0093 263.9667);
  --foreground: oklch(0.9200 0.0104 81.7947);
  --card: oklch(0.1789 0.0148 272.3843);
  --card-foreground: oklch(0.9200 0.0104 81.7947);
  --popover: oklch(0.1789 0.0148 272.3843);
  --popover-foreground: oklch(0.9200 0.0104 81.7947);
  --primary: oklch(0.7204 0.1404 69.8909);
  --primary-foreground: oklch(0.1492 0.0093 263.9667);
  --secondary: oklch(0.2492 0.0154 274.1859);
  --secondary-foreground: oklch(0.9200 0.0104 81.7947);
  --muted: oklch(0.2183 0.0121 270.8076);
  --muted-foreground: oklch(0.6505 0.0153 88.7278);
  --accent: oklch(0.5001 0.1207 279.9685);
  --accent-foreground: oklch(0.9200 0.0104 81.7947);
  --destructive: oklch(0.5505 0.1800 25.0223);
  --destructive-foreground: oklch(0.9495 0.0099 87.4720);
  --border: oklch(0.2808 0.0136 267.0710);
  --input: oklch(0.2492 0.0154 274.1859);
  --ring: oklch(0.7204 0.1404 69.8909);
  --chart-1: oklch(0.7204 0.1404 69.8909);
  --chart-2: oklch(0.5001 0.1207 279.9685);
  --chart-3: oklch(0.6690 0.1139 202.2739);
  --chart-4: oklch(0.7004 0.1301 139.8401);
  --chart-5: oklch(0.6498 0.1402 339.8377);
  --sidebar: oklch(0.1691 0.0130 270.5371);
  --sidebar-foreground: oklch(0.9200 0.0104 81.7947);
  --sidebar-primary: oklch(0.7204 0.1404 69.8909);
  --sidebar-primary-foreground: oklch(0.1492 0.0093 263.9667);
  --sidebar-accent: oklch(0.2492 0.0154 274.1859);
  --sidebar-accent-foreground: oklch(0.9200 0.0104 81.7947);
  --sidebar-border: oklch(0.2808 0.0136 267.0710);
  --sidebar-ring: oklch(0.7204 0.1404 69.8909);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.5rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0 0 0);
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
